<!DOCTYPE html>
<html lang="en" class="overlay">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anthony Pradal">
    <title>Backend - Photos-Graphein</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,900" rel="stylesheet"> 
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/dropzone.css">
    <link rel="stylesheet" href="../static/css/style.css?q=2">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="outer-wrapper" id="top">
  <nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="100">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><i class="cu cu-magic-wand"></i> Backend</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand" href="index.html">Photo-Graphein</a>
        </ul>
      </div>
    </div>
  </nav>

  <div class="wallpaper jarallax">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7">
              <div id="droparea" class="dropzone">
                <div class="dropzone dropzone-previews"></div>
                <div class="dz-message needsclick">
                  Drop files here or click to upload.<br>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="backend-intro backend-intro-fill" id="post_photo">
                <h1>Information about the photo</h2>
                <input name="title-photo"  id="title-photo" placeholder="Title" type="text">
                <textarea name="desc-photo" placeholder="Description" class="form-control" rows="5" id="desc-photo"></textarea><br />
                <input name="tags-photo" id="tags-photo" placeholder="Tags (separated by comma)" type="textarea">
                <div class="alert alert-danger" role="alert" id="post-error"></div>
                <div class="alert alert-success" role="success" id="post-success">Uploadé.</div>
                <div class="alert alert-warning" role="warning" id="post-warning">Upload en cours...</div>

                <button id="fileSubmit" class="btn btn-primary btn-lg btn-block text-center">Post now</button>
              </div>
              <div id="response"></div>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
</body>
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/dropzone.js"></script>
<script src="../static/js/app.js?q=2"></script>
</html>